---
layout: layout.liquid
title: Name Generator 
---
<header> Generate a Name </header>

<div x-data="{ name: '' }">
    <button @click="name = getRandomName()">Generate Name</button>
    <h1 x-text="name"></h1>
</div>

